.header{
    margin: 0;
}

.line{
    display:block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
    content: '';
}
body {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
img {
    width: 700px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li{
    list-style-type: none;
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.answerbutton {
background-color: white;
width: 700px;
padding: 15px 10px;
border-color: lightgrey;
border-width: 1px;
cursor: pointer;
}

.box{
    background-color: #f5f5f5;
    padding: 17px;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}
