
body {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0px;
	background-color: rgb(243, 241, 241);
}
.all_box{
	width: 100%;
	height: 100%;
	position: relative;
}
.header {
	top: 0;
	left: 0;
	height: 64px;
	position: fixed;
	width: 100%;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color: white;
	z-index: 100;
}
.header_img {
	width: 90px;
	object-fit: contain;
	margin-left: 15px;
}
.header_text {
	display: flex;
	color: gray;
}
.header_button_box {
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 20px;
}
.header_button {
	background: linear-gradient(to right, rgb(0, 98, 255), aqua);
	cursor: pointer;
	border-radius: 30px;
	padding: 10px 40px 10px 40px;
	color: white;
	border: none;
	box-shadow: 0px 4px 10px skyblue;
}
@media screen and (min-width: 481px) {
	.largest_box {
		display: flex;
		top: 0px;
		left: 0px;
		position: absolute;
		justify-content: center;
		height: 460px;
		width: 100%;
		padding-top: 84px;
		gap: 20px;
	}
	
	.second_box {
		width: 40%;
		height: 100%;
		gap: 20px;
		overflow: hidden;
	}
/* modal */
	.modalWrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		padding: 30px 56px 20px 56px;
		background-color: #fff;
		border-radius: 30px;
	}

	.modal_input_check{
    background: #f5f5f8;
    border-radius: 15px;
		padding: 5px 10px 5px 10px;
		cursor: pointer;
}
	
}
@media screen and (max-width: 480px) {
	.largest_box{
		flex-wrap: wrap;
		display: flex;
		top: 0px;
		left: 0px;
		position: absolute;
		justify-content: center;
		height: 90%;
		width: 100%;
		padding: 84px 20px 10px 20px;
		gap: 16px;
	}
	.second_box {
		width: 100%;
		/* height: 100%; */
		gap: 20px;
		overflow: hidden;
	}

	/* modal */
	.modalWrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 480px;
		padding: 20px 20px 20px 20px;
		background-color: #fff;
		border-radius: 30px;
	}


	.modal_input_check{
    background: #f5f5f8;
    border-radius: 15px;
		padding: 5px 8px 5px 8px;
		cursor: pointer;
}
}
/* time box */
.time_boxes {
	top: 64px;
	display: flex;
	gap: 20px;
}
.time_box {
	width: 33%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}
.time_title {
	color: #1071bd;
	text-align: center;
	margin: 0px;
}
.time_number {
	font: bold;
	font-size: 30px;
	text-align: center;
	margin: 0;
}
.time_hour {
	text-align: center;
	margin: 0px;
}

/* graph */
.graph_box {
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	margin: 20px 0px 0px 0px;
	width: 100%;
	height: 71%;
	object-fit: contain;
}
.bar_chart {
height: ;
}  

/* circle graphs */
.circle_graphs {
	width: 100%;
	display: flex;
	top: 64px;
	height: 100%;
	gap: 20px;
}

.circle_box {
	background-color: white;
	border-radius: 10px;
	
	width: 100;
	height: 100%;
}

.circle_text {
	padding: 0px 0px 0px 20px;
	font-weight: bold;
}
.doughnut_graph{
	margin:auto;
	width: 90%;
	height: 80%;
}


/* ドーナツグラフ */
.circle_box {
	height: 100%;
	width: 50%;
	text-align: center;
}

.circle_img {
	max-width: 100%;
}

.circle_lists {
	padding: 0px;
	text-align: center;
}
.graph_list {
	display: inline-block;
	padding: 0px 5px 0px 0px;
	position: relative;
}

.circle_dot {
	border-radius: 50%; /*丸くする*/
	width: 5px; /*点の幅*/
	height: 5px; /*点の高さ*/
	display: block;
	position: absolute; /*絶対配置*/
	left: 0; /*点の位置*/
	top: 0.6em; /*点の位置*/
	content: "";
	background: aqua;
	margin: 0px 10px 0px 0px;
}

.circle_graphs_dot {
	color: cyan;
}
/* date */
.bottom_box {
	text-align: center;
	width: 100%;
	bottom: 0px;
	left: auto;
	position: absolute;
}
.bottom_month{
	margin: 0;
}

/* モーダルCSS */
.modalArea {
	display: none;
	position: fixed;
	z-index: 100; /*サイトによってここの数値は調整 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modalBg {
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.9);
}
.modalContents {
	text-align: center;
}


.modal_boxes {
	display: flex;
	gap: 40px;
	justify-content: center;
	width: 100%;
}
.modal_box {
	text-align: left;
    width: 50%;
}
.modal_head{
	font-size: 15px;
}
.modal_input {
	border-radius: 20px;
	background: #f5f5f8;
	border: 0px;
}
.modal_button {
	background: linear-gradient(to right, rgb(0, 98, 255), aqua);
	cursor: pointer;
	border-radius: 30px;
	padding: 10px 40px 10px 40px;
	color: white;
	border: none;
	box-shadow: 0px 4px 10px skyblue;
	justify-content: center;
}

.modal_check_box{
	display: flex;
	gap: 10px 10px;
	flex-wrap: wrap;
}

.modal_hour{
	width: 100%;
	height: 25%;
}
.hour_input{
	width: 100%;
	height: 60%;
}
.modal_twitter{
	width: 100%;	
	height: 60%;
}
.twitter_input{
	width: 100%;
	height: 60%;
	padding: 10px;
	resize: none;
}

.closeModal {
	background: #f5f5f8;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}
.closeModal_close{
	margin: 0;
}

/* 記録・投稿ボタンプッシュ後 */
#overlay{ 
	position: absolute;
  top: 0;
	left: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: white;
	justify-content: center;
	border-radius: 30px;
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

/* 投稿完了画面 */
#finished{
	position: absolute;
  top: 0;
	left: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  background: white;
	justify-content: center;
	border-radius: 30px;
}
.finished_hide{
	display: none;
	position: relative;
}

.finished_box{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	flex-wrap: wrap;
}